<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header> 
        <!--controlar aca lo que paso-->
        <img src="../public/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        <input type="text"><span>BUSCAR</span>
        <h3>Comprar en cuotas y sin tarjeta</h3>
        <nav>
            <ul>
                <li><a href="#">Oferta</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <br>
                <li><a href="#">Cea tu cuenta</a></li>
                <li><a href="#">Ingresa</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h3>Basado en tu ultima visita</h3>
            <div>
                <img src="../public/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" width="280px" height="350px">
                <p>$6.4770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </div>
            <div>
                <img src="../public/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019"width="280px" height="350px">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </div>
            <div>
                <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10"width="280px" height="350px">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy s10</p>
            </div>
            <div>
                <img src="../public/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart"width="280px" height="350px">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTv Samsung 43"</p>
            </div>
        </section>
        <section>
            <div>
                <img src="../public/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex"width="280px" height="350px">
                <p>$6.4770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </div>
            <div>
                <img src="../public/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019"width="280px" height="350px">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </div>
            <div>
                <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10"width="280px" height="350px">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy s10</p>
            </div>
            <div>
                <img src="../public/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart"width="280px" height="350px">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTv Samsung 43"</p>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con MercadoLiEbreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre seguro!</p>
        </div>
        <div>
            <h4>Envio gratis desde los $2.500</h4>
            <p>Solo por estar registrado en Mercado LiEbre tenes envios gratis en miles de productos. Es un de beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiEbre no hay nada que no puedas hacer porque estás siempre protegido </p>
        </div>
        <p>Copyright 1999-2020 MercadoLiEbre S.R.L</p>
    </footer>    
</body>
</html>